torch>=2.0
torchvision
transformers>=4.39.1
huggingface-hub
open-clip-torch
accelerate
sentencepiece
opencv-python-headless==4.5.5.64
Pillow
pandas
numpy==1.26.4
scikit-learn
einops
decord
openpyxl
wandb
tqdm
matplotlib
seaborn